body{
	background-image: url("../images/xv_@2X.png");
  	background-size: cover;
  	padding: 20px;
	margin: auto;
	color: white;
	text-align: center;
	margin-bottom: 20px;
  }

.jumbotron{
	background-color: darkorange;
	font-size: 30px;
	padding: 20px;
	text-align: center;
	display: inline-block;
	}

div.description {
	background-color: darkred;
	display: inline-block;
	padding: 20px;
	margin: auto;
	color: white;
	text-align: center;
	margin-bottom: 20px;
	}

/* div.randomnumber {
	display: inline-block;
	background-color: green;
	padding: 10px;
	margin: auto;
	color: white;
	text-align: center;
	margin-bottom: 20px;
} */

div.container {
	padding: 20px;
	margin: auto;
	color: white;
	text-align: center;
	margin-bottom: 20px;
}

img{
	padding: 10px;
	margin: auto;
	color: white;
	text-align: center;
	margin-bottom: 20px;
}

.panel-primary{
	display: inline-block;
	padding: 20px;
	margin: auto;
	color: darkgrey;
	text-align: center;
	margin-bottom: 20px;
}
